<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/contacts.css" />
    <title>Contact</title>
</head>
<body>
    <div class="navigation">
        <ul class="navigation__list">
            <li class="navigation__list-item">
                <a href="#" class="navigation__list-link" data-link="/users">
                    Пользователи
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="#" class="navigation__list-link navigation__list-link_active" data-link="/contacts">
                    Контактная информация
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="#" class="navigation__list-link" data-link="/main">
                    Главный экран
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="#" class="navigation__list-link" data-link="/history">
                    История
                </a>
            </li>
        </ul>
    </div>

    <div class="contacts">
        <div class="contacts__content">
            <span class="contacts__title">
                Phone:
            </span>
            <span class="contacts__body"></span>
            <div class="edit">
                <input type="text" class="contacts__input">
                <button class="contacts__btn-edit">submit</button>
            </div>
            <button class="contacts__btn">редактировать</button>
        </div>
        <div class="contacts__content">
            <span class="contacts__title">
                E-mail:
            </span>
            <span class="contacts__body"></span>
            <div class="edit">
                <input type="text" class="contacts__input">
                <button class="contacts__btn-edit">submit</button>
            </div>
            <button class="contacts__btn">редактировать</button>
        </div>
        <div class="contacts__content">
            <span class="contacts__title">
                VK:
            </span>
            <span class="contacts__body"></span>
            <div class="edit">
                <input type="text" class="contacts__input">
                <button class="contacts__btn-edit">submit</button>
            </div>
            <button class="contacts__btn">редактировать</button>
        </div>
        <div class="contacts__content">
            <span class="contacts__title">
                OK:
            </span>
            <span class="contacts__body"></span>
            <div class="edit">
                <input type="text" class="contacts__input">
                <button class="contacts__btn-edit">submit</button>
            </div>
            <button class="contacts__btn">редактировать</button>
        </div>
        <div class="contacts__content">
            <span class="contacts__title">
                TG:
            </span>
            <span class="contacts__body"></span>
            <div class="edit">
                <input type="text" class="contacts__input">
                <button class="contacts__btn-edit">submit</button>
            </div>
            <button class="contacts__btn">редактировать</button>
        </div>
    </div>

    <script src="scripts/http.js"></script>
    <script src="scripts/contact.js"></script>
    <script src="scripts/navigate.js"></script>

</body>
</html>