<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/history.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
    <title>История</title>
</head>
<body>
    <div class="navigation">
        <ul class="navigation__list">
            <li class="navigation__list-item">
                <a href="#" class="navigation__list-link" data-link="/users">
                    Пользователи
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="#" class="navigation__list-link" data-link="/contacts">
                    Контактная информация
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="#" class="navigation__list-link" data-link="/main">
                    Главный экран
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="#" class="navigation__list-link navigation__list-link_active" data-link="/history">
                    История
                </a>
            </li>
        </ul>
    </div>

    <div class="history content_wrap"></div>

    <script src="scripts/http.js"></script>
    <script src="scripts/history.js"></script>
    <script src="scripts/navigate.js"></script>
</body>
</html>